<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PadelTracker Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PadelTracker Widget Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E873208D2F2E52E200444902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E87320932F2E52E300444902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E87320A22F2E52E400444902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E87320AC2F2E52E400444902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
